{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
          "browsers": ["> 1%", "ie >= 11"]
        },
        "modules": false
      }
    ]
  ]
}
