nav.header
    div.nav-wrapper
        ul#nav-mobile.right.hide-on-med-and-down.nav
            li.nav-link
                a(href="/") Курсы
            li.nav-link
                a(href="/auth") Вход

            
