<main class="wrap">
  <div class="action-container">
    <h2 class="mt-0">Случайные статьи из "Кодекса Братана"</h2>
    <button type="button" class="btn btn-dark button">Получить</button>
  </div>

  <div class="content-container">
    <div class="spinner-border text-dark content-spinner hidden" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="media-body message">
      <h4 class="mt-0 message-title">Статья 28</h4>
      <div class="message-body">
        Братан должен своевременно сообщать о перспективе кулачной потасовки
        между двумя особями женского рода (в дальнейшем именуемой “Женской
        дракой”), а также усиленно стараться сделать возможным для других
        Братанов принять участие в ее (ЖД) полном лицезрении. ПРИМЕЧАНИЕ: При
        этом “своевременно” понимается как понятие, основанное на усмотрении
        Братана и общем потенциале женского запала. Вышеупомянутый Братан должен
        использовать любые средства передачи информации, находящиеся в его
        распоряжении, включая, но не ограничиваясь телефоном, толканием локтем,
        почтовыми голубями, волоконной оптикой, стрельбой, открытками и
        телепатией. Если проинформированный Братан неспособен
        засвидетельствовать женскую драку, то Братан, ее заметивший несет
        ответственность за документирование и воспроизведение всех подробностей
        драки с помощью фото и видео, или, за неимением других разумных методов,
        танцами и/или жестами.
      </div>
    </div>
  </div>
</main>
<footer class="footer mt-auto py-3 fixed-bottom">
  <div class="footer-date">2008 © Барни Стинсон</div>
</footer>
